/* --------------- Global --------------- */
header {
  padding: 20px;
}

h5 {
  margin-bottom: 0px;
}

h1,
h5 {
  text-align: center !important;
  margin-left: 0px !important;
}

section {
  padding: 20px 5px !important;
}

.subtitle {
  background-color: #d4edda;
  color: #155724;
}

.card-header {
  padding: 5px;
  text-align: center;
}

/* --------------- Search Cities --------------- */
input {
  text-transform: capitalize;
}

.form-inline .form-group {
  margin-left: 0px !important;
}

.list-group {
  width: 50%;
}

/* --------------- City Current --------------- */

.weather {
  text-transform: capitalize;
}

/* --------------- City Forcast --------------- */
#forcastDays .col {
  padding-left: 0px;
  padding-right: 0px;
}
