/* --------------- Global --------------- */
header {
  padding: 20px;
}

h5 {
  margin-bottom: 0px;
}

h1,
h5 {
  text-align: center !important;
  margin-left: 0px !important;
}

section {
  padding: 20px 5px !important;
}

button {
  background: #f77625 !important;
  color: #e6e4e3 !important;
}

.subtitle {
  background-color: #f77625;
  color: #e6e4e3;
}

.card-header {
  padding: 5px;
  text-align: center;
}

.newCity {
  background-color: #faac84;
  color: #e6e4e3;
}

/* --------------- Search Cities --------------- */
input {
  text-transform: capitalize;
}

.form-inline .form-group {
  margin-left: 0px !important;
}

.list-group {
  width: 50%;
}

/* --------------- City Current --------------- */

.weather {
  text-transform: capitalize;
}

/* --------------- City Forcast --------------- */
.forecast .col {
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 0.5rem;
}
